--- 
layout: default 
---

<h3>{{ page.text.interests }}</h3>
<p>{{ page.text.summary}}</p>
<div class="text-box">
    <div class="inline-block">
        <div class="image-wrapper left">
            <img class="medium" src="/assets/images/web_development.png">
        </div>
        <p>{{ page.text.web_development }}</p>
    </div>
    <div class="inline-block">
        <div class="image-wrapper left">
            <img class="medium" src="/assets/images/bussines_logic.png">
        </div>
        <p>{{ page.text.bussines_logic }}</p>
    </div>
    <div class="inline-block">
        <div class="image-wrapper left">
            <img class="medium" src="/assets/images/database-development.png">
        </div>
        <p>{{ page.text.database_development }}</p>
    </div>
</div>
<p>{{ page.text.combination }}</p>
<p>{{ page.text.conclusion }}</p>