<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            {% assign author = site.data.meta.author %}
            {% assign languagePack = site.data.i18n[page.language].footer %}
            <div class="footer-col footer-col-1">
                {{ languagePack.maintain }} <a href="mailto:{{ author.email }}">{{ author.name}}</a><br>
                {{ languagePack.createdWith }} <a href="https://pages.github.com">Github Pages</a>
            </div>
            <div class="footer-col footer-col-2">
                <p>&copy; 2018 by {{ author.name }}</p>
            </div>
            <div class="footer-col footer-col-3">
                <ul class="social-media-list">
                    <li>
                        <a href="{{ author.github }}">
                            <span class="icon">
                                <img src="/assets/images/icon-github.svg" />
                            </span>
                            <span class="username">Github</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ author.twitter }}">
                            <span class="icon">
                                <img src="/assets/images/icon-twitter.svg" />
                            </span>
                            <span class="username">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ author.xing }}">
                            <span class="icon">
                                <img height="16px" src="/assets/images/XING.png" />
                            </span>
                            <span class="username">XING</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>