<nav class="site-nav">
    <div class="wrapper">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
            <span class="menu-icon">
                <img src="/assets/images/nav-trigger.svg">
            </span>
        </label>
        <div class="trigger">
            <a class="page-link" href="/{{ page.language }}/index.html">Home</a>
            <a class="page-link" href="/{{ page.language }}/about.html">About</a>
            <a class="page-link" href="/{{ page.language }}/contact.html">Contact</a>
            <a class="page-link" href="/blog/">Blog</a>
        </div>
    </div>
</nav>