<nav class="site-nav">
    <div class="wrapper">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
            <span class="menu-icon">
                <img src="/assets/images/nav-trigger.svg">
            </span>
        </label>
        <div class="trigger">
            {% assign languagePack = site.data.i18n[page.language].nav %}
            <a class="page-link" href="/{{ page.language }}/index.html">{{ languagePack.home}}</a>
            <a class="page-link" href="/{{ page.language }}/about.html">{{ languagePack.about}}</a>
            <a class="page-link" href="/{{ page.language }}/contact.html">{{ languagePack.contact}}</a>
            <a class="page-link" href="/blog/">{{ languagePack.blog}}</a>
        </div>
    </div>
</nav>