<ul class="social-media-list">
    <li>
        <div class="channel">
            <a href="{{ site.data.meta.author.github }}">
                <img class="icon" src="/assets/images/GitHub.png" />
                <span class="label">GitHub</span>
            </a>
        </div>
    </li>
    <li>
        <div class="channel">
            <a href="{{ site.data.meta.author.twitter }}">
                <img class="icon" src="/assets/images/Twitter.png" />
                <span class="label">Twitter</span>
            </a>
        </div>
    </li>
    <li>
        <div class="channel">
            <a href="{{ site.data.meta.author.xing }}">
                <img class="icon" src="/assets/images/XING.png" />
                <span class="label">XING</span>
            </a>
        </div>
    </li>
</ul>