<ul class="social-media-list">
    <li>
        <a href="{{ author.github }}">
            <img class="icon" src="/assets/images/GitHub.png" />
            <span class="username">Github</span>
        </a>
    </li>
    <li>
        <a href="{{ author.twitter }}">
            <img class="icon" src="/assets/images/Twitter.png" />
            <span class="username">Twitter</span>
        </a>
    </li>
    <li>
        <a href="{{ author.xing }}">
            <img class="icon" src="/assets/images/XING.png" />
            <span class="username">XING</span>
        </a>
    </li>
</ul>