<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{ page.title }}</title>
</head>

<body>
    <div id="web_container">
        <header>
            <h1 class="title">Luis Wolff</h1>
            <h2 class="title">Webentwickler</h2>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About Me</a></li>
                    <li><a href="/contact.html">Contact Me</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
            </nav>
        </header>

        <article>
            {{ content }}
        </article>
        <footer>
            Social media
        </footer>
    </div>
</body>

</html>